*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-book.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-light");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-medium");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gotham-bold");
    font-weight: 600;
}

.landingbody {
  position: relative;
  background-color: #DDDBE0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("img/bgnature.jpg");
  background-repeat: none;
  background-size: cover;
}

.motto {
  font-family: "BebasNeue";
  font-size: 80px;
}





/* */

#clockwrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#centerwrapper {
  margin: 0 auto;
  margin-top: 45vh;
  display: flex;
}

.clocktext {
  font-family: Helvetica;
  font-size: 50px;
}

.colon {
  font-family: Helvetica;
  color: white;
  font-size: 50px;
}
