*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambook.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothamlight.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothammed.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambold.otf");
    font-weight: 600;
}

.landingbody {
  background-color: #DDDBE0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("img/bgnature.jpg");
  background-repeat: none;
  background-size: cover;
}

.motto {
  font-family: "Gotham";
  font-size: 125px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #192249;
  padding: 12px 0;
}

#landingcontent {
  margin-left: 125px;
  margin-top: 100px;
}

/* */

#clockwrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.navbar {
  font-family: "Gotham";
  font-size: 30px;
  font-weight: 400;
  /* float: right; */
}

.navbar ul {
  text-align: right;
  padding-right: 1.5vw;
  padding-top: 4vh;
}

.navbar ul li {
  list-style: none;
  display: inline;
  color: #192249;
  padding: 0 15px;
  cursor: pointer;
}

#centerwrapper {
  margin: 0 auto;
  margin-top: 40vh;
  display: flex;
  color: white;
  font-family: "Gotham";
  font-size: 200px;
  /* font-size: 6.5em; */
  font-weight: 600;
  letter-spacing: 0px;
}

/* .clocktext {
  font-family: Helvetica;
  font-size: 50px;
}

.colon {
  font-family: Helvetica;
  color: white;
  font-size: 50px;
}

centerwrapper.style.color = "white";
centerwrapper.style.fontFamily = "Gotham";
centerwrapper.style.fontSize = "100px";
centerwrapper.style.fontWeight = "600"; */
